@font-face {
  font-family: Acumin;
  src: url(../fonts/AcuminVariableConcept.otf);
}

@font-face {
  font-family: Archivo;
  src: url(../fonts/Archivo-VariableFont_wdth\,wght.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

body {
  font-family: Archivo, sans-serif;
  background-color: #fff;
  color: #000;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: Acumin, sans-serif;
  font-weight: bold;
}

p, ul, li {
  font-size: 12px;
}

/* sidebar */
.sidebar {
  height: 73.2rem;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  margin-top: 140px;
  background-color: #0d58b2;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
}

/* header-sidebar */
.header-sidebar {
  margin-bottom: 32pt;
}

.closeBtn {
  width: 20px;
  margin: 10px auto;
}

.iconSearchBtn {
  width: 20px;
  margin: 7px 49px auto;
}
/* end header sidebar */

.sidebar a {
  padding: 10px 10px 0 48px;
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #d0d2d3;
}

.sidebar .closeBtn {
  position: absolute;
  top: 0;
  font-size: 36px;
}

.sidebar-item a:hover {
  color: #676767;
}

.sidebar-item a img {
  margin: 20px 0 2px 20px;
}

.sidebar-subitem a {
  color: #d0d2d3;
}

/* header */
header {
  width: 100%;
  display: flex;
  margin: auto;
  padding: 50px;
  align-items: center;
  justify-content: space-between;
}

.img-header {
  width: 220px;
}

.lang {
  text-align: right;
}

.lang a {
  text-decoration: none;
  padding-left: 15px;
  color: #000;
}

.lang a:hover {
  color: #0d58b2;
}

.auth a {
  text-decoration: none;
  padding-left: 25px;
  color: #000;
}

.auth a:hover {
  color: #0d58b2;
}

/* content */
.content {
  width: 80%;
  height: 120vh;
  margin: 10px auto;
  padding: 10px;
  align-items: flex-start;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .content {display: grid;}
}

.content .description-category {
  display: flex;
}

/* content carousel */
.splide {
  position: relative;
  width: 65%;
  display: flex;
  margin: 30px auto 40px 200px;
}

.splide .splide__track .splide__list .splide__slide img {
  width: 225px;
  height: 125px;
  padding: 10px;
}

.splide .splide__track .splide__list .splide__slide:hover {
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, .2);
  transition: all .2s;
}

.splide .splide__track .splide__list .splide__slide h4 {
  padding: 0 10px 25px;
  font-weight: 100px;
}

/* content description */
.description {
  width: 40%;
  margin: 0 auto;
}

.description .title {
  display: flex;
}

.description p {
  height: 200px;
  overflow: scroll;
}

.downloadBtn {
  width: 120px;
  height: 35px;
  border: none;
  margin: 50px auto;
  color: #fff;
  background: #676767;
  padding: 7px;
  cursor: pointer;
}

.downloadBtn:hover {
  background-color: #0d58b2;
}

.downloadBtn:active {
  transform: scale(0.98);
}

/* .content category */
.category {
  width: 35%;
}
.category div{
  width: 240px;
  height: 300px;
  background-color: #d0d2d3;
  padding: 10px;
}
/* end of content */

/* footer */
footer {
  width: 100%;
  background-color: #d0d2d3;
  display: flex;
  margin: auto;
  padding: 60px;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  footer {
    display: grid;
    margin: auto;
  }
}

/* footer left */
.footer-left p {
  width: 41%;
}

.about-civas {
  display: flex;
}

.about-civas-left p {
  width: 65%;
}

.about-civas-right {
  width: 128%;
  margin-left: -50px;
}


/* footer center */
.footer-center {
  width: 20%;
}

.footer-center img {
  width: 170px;
  margin-right: 160px;
}

/* footer right */
.footer-right {
  width: 25%;
}

.footer-right-content {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.footer-right-content ul li {
  list-style: none;
  font-weight: 900;
}

.img-footer {
  width: 85px;
}

.footer-social {
  display: flex;
}

.footer-social ul {
  display: flex;
  margin-left: -4px;
}

.footer-social ul li {
  padding-right: 18px;
  margin-bottom: 40px;
  list-style: none;
}

.footer-social ul li a {
  font-size: 13px;
  text-decoration: none;
  color: #000;
}
