@font-face {
  font-family: Acumin;
  src: url(../../fonts/AcuminVariableConcept.otf);
}

@font-face {
  font-family: Archivo;
  src: url(../../fonts/Archivo-VariableFont_wdth\,wght.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Archivo, sans-serif;
  background-color: #fff;
  color: #000;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: Acumin, sans-serif;
  font-weight: bold;
}

p, ul, li {
  font-size: 12px;
}

/* sidebar */
.sidebar {
  height: 52.9rem;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  margin-top: 140px;
  background-color: #0d58b2;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
}

/* header-sidebar */
.header-sidebar {
  margin-bottom: 32pt;
}

.closeBtn {
  width: 20px;
  margin: 10px auto;
}

.iconSearchBtn {
  width: 20px;
  margin: 7px 49px auto;
}
/* end header sidebar */

.sidebar a {
  padding: 10px 10px 0 48px;
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #d0d2d3;
}

.sidebar .closeBtn {
  position: absolute;
  top: 0;
  font-size: 36px;
}

.sidebar-item a:hover {
  color: #676767;
}

.sidebar-item a img {
  margin: 20px 0 2px 20px;
}

.sidebar-subitem a {
  color: #d0d2d3;
}

/* header */
header {
  width: 100%;
  display: flex;
  margin: auto;
  padding: 50px;
  align-items: center;
  justify-content: space-between;
}

.img-header {
  width: 220px;
}

.lang {
  text-align: right;
}

.lang a {
  text-decoration: none;
  padding-left: 15px;
  color: #000;
}

.lang a:hover {
  color: #0d58b2;
}

.auth a {
  text-decoration: none;
  padding-left: 25px;
  color: #000;
}

.auth a:hover {
  color: #0d58b2;
}

/* modal popup signin */
.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  fill: currentcolor;
}

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10000;
  margin: auto;
  top: 0;
  left: 0;
  visibility: hidden;
}

.modal.is-visible {
  visibility: visible;
}

.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.modal.is-visible .modal-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.modal-wrapper {
  position: absolute;
  z-index: 9999;
  top: 6em;
  left: 50%;
  width: 32em;
  margin-left: -16em;
  background-color: #fff;
  box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
}

.modal-transition {
  transition: all 0.3s 0.12s;
  transform: translateY(-10%);
  opacity: 0;
}

.modal.is-visible .modal-transition {
  transform: translateY(0);
  opacity: 1;
}

/* modal header */
.modal-header, .modal-content {
  padding: 1em;
}

.modal-header {
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.06);
}

.modal-header h2 {
  font-weight: 100;
  font-size: 24px;
  text-align: center;
  margin-top: 30px;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  color: #000;
  background: none;
  border: 0;
  cursor: pointer;
}

.modal-close img {
  width: 22px;
}

.modal-heading {
  font-size: 1.125em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* modal body */
.modal-content p {
  text-align: center;
  margin: 0 40px 0 40px;
}

.modal-content label {
  font-size: 12px;
  margin: 65px;
}

.modal-content input {
  width: 350px;
  height: 31px;
  display: grid;
  margin: auto;
  border: 1px solid;
}

.modal-content [type="submit"] {
  width: 220px;
  margin: 40px auto;
  border: none;
  background: #676767;
  color: #fff;
  cursor: pointer;
}

.modal-content [type="submit"]:hover {
  background: #0d58b2;
}

.modal-content > *:first-child {
  margin-top: 0;
}

.modal-content > *:last-child {
  margin-bottom: 0;
}

/* modal footer */
.modal-footer {
  text-align: center;
  margin: 50px auto;
  border-top: 2px solid #676767;
  padding: 40px;
}

.modal-footer p a {
  padding: 0;
  color: #676767;
  text-decoration: underline;
}

.modal-footer p a:hover {
  color: #0d58b2;
}

/* content */
.content {
  display: grid;
  width: 100%;
  height: 240vh;
  margin: 50px auto;
  align-items: flex-start;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .content {display: grid;}
}

.content h3 {
  font-weight: 100;
}

.content p {
  margin-top: 20px;
}

.content input {
  font-family: Archivo, sans-serif;
  width: 400px;
  height: 42px;
  margin-bottom: 10px;
  border: 1px solid;
  border-radius: 0;
  outline: none;
  padding: 7px;
}

.content div input {
  width: 170px;
}

.content div [placeholder="Digital Directory"] {
  width: 220px;
}

.content div [placeholder="Physical Directory"] {
  width: 220px;
}

.content [placeholder="Event"] {
  width: 480px;
}

.content [placeholder="Depicted Person"] {
  width: 480px;
}

.content .addImage .dottedBox {
  display: inline;
  width: 100px;
  height: 100px;
  border: 1px dashed;
}

.content select {
  font-family: Archivo, sans-serif;
  width: 160px;
  height: 42px;
  border-radius: 0;
  padding: 6px;
  background-image: url(/img/dropdownArrow.png);
  background-repeat: no-repeat;
  background-position: center right 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.content select:focus {
  background: url(/img/dropdownArrow180.png) 90% / 9% no-repeat;
  background-position: center right 10px;
}

.content select:hover {
  text-decoration: underline;
}

.content [type="file"] {
  border: none;
}

.content #relatedWorks {
  width: 450px;
  background-image: url(/img/dropdownArrow.png);
  background-repeat: no-repeat;
  background-position: center right 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.content #relatedWorks:focus {
  width: 450px;
  background: url(/img/dropdownArrow180.png) 90% / 3% no-repeat;
  background-position: center right 10px;
}

.content textarea {
  font-family: Archivo, sans-serif;
  padding: 10px;
}

.content [type="submit"] {
  width: 220px;
  border: none;
  outline: none;
  border-radius: 0;
  background: #676767;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.content [type="button"] {
  width: 180px;
  border: none;
  outline: none;
  margin-left: 20px;
  border-radius: 0;
  background: #676767;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.content [type="button"]:hover {
  background-color: #0d58b2;
}

.content [type="submit"]:hover {
  background-color: #0d58b2;
}

/* footer */
footer {
  width: 100%;
  background-color: #d0d2d3;
  display: flex;
  margin: auto;
  padding: 60px;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  footer {
    display: grid;
    margin: auto;
  }
}

/* footer left */
.footer-left p {
  width: 41%;
}

.about-civas {
  display: flex;
}

.about-civas-left p {
  width: 65%;
}

.about-civas-right {
  width: 128%;
  margin-left: -50px;
}


/* footer center */
.footer-center {
  width: 20%;
}

.footer-center img {
  width: 170px;
  margin-right: 160px;
}

/* footer right */
.footer-right {
  width: 25%;
}

.footer-right-content {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.footer-right-content ul li {
  list-style: none;
  font-weight: 900;
}

.img-footer {
  width: 85px;
}

.footer-social {
  display: flex;
}

.footer-social ul {
  display: flex;
  margin-left: -4px;
}

.footer-social ul li {
  padding-right: 18px;
  margin-bottom: 40px;
  list-style: none;
}

.footer-social ul li a {
  font-size: 13px;
  text-decoration: none;
  color: #000;
}
